@use "../../../../../styles/helpers/variables" as *;
@use "./globals.module.scss" as *;

.events {
  @extend %offers__card;
  grid-row: 1/3;
  grid-column: 2/4;
  max-width: 23.5rem;
  aspect-ratio: 9/16;
  align-self: center;
  justify-self: flex-start;
  align-items: flex-end;
  padding-bottom: 3rem;

  // 480px width device
  @media (max-width: 30em) {
    grid-row: 2/4;
    grid-column: 3/6;
    height: 100%;
    align-items: center;
    padding: 0;
  }
}
